extends ../layout.jade
block contenido
  h1(class="text-center") Panel de administración
  table(class="table")
    caption Productos actuales
    thead
      tr
        th #
        th Nombre
        th Descripción
        th Precio
        th Imágenes
        th Acciones
      tbody
        each product in products
          tr
            td= product.id
            td= product.title
            td= product.description
            td= product.pricing
            td
              a(href="#{product.imageURL}" class="btn") Ver imagen
            td
              a(href="/menu/edit/#{product.id}") Editar
              = ' - '
              a(href="/menu/#{product.id}/delete") Eliminar
