extends layout.jade
block contenido
    div(class="menu mediano text-center")
      h2(class="pacifico big blue") Contacto
      p Palacio de Bellas Artes, Centro Histórico, Cuauhtémoc, Ciudad de México
      p Escríbenos a #[a(href="mailto:info@codigofacilito.com") info@codigofacilito.com]
      div(class="col-md-7 col-sm-9 col-xs-12 inline-block tope")
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3762.472147824537!2d-99.1412!3d19.435200000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f92b75aa014d%3A0x17d810d20da6e8cf!2sPalacio+de+Bellas+Artes!5e0!3m2!1ses!2smx!4v1418092440850" width="600" height="450" frameborder="0" style="border:0")
