doctype html
html(lang="es")
  head
    title Food Facilito
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='/css/animate.css' rel='stylesheet' type='text/css')
  body
    section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="col-md-3 center-block no-float top-space")
          img(src="imgs/icecream.png" class="animated fadeIn")
          h1(class="pacifico big green animated fadeIn delay-1") Food Facilito
          div(class="animated fadeInDown delay-2")
            h2 Ven, convive y diviértete
            nav
              a(href="/menu" class="right-space") Menú
              a(href="/contacto" class="right-space") Contacto
              a(href="/admin" class="right-space") Administración
