doctype html
html(lang="es")
  head
    title Food Facilito
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='/css/animate.css' rel='stylesheet' type='text/css')
  body
    nav(class="large-padding fondo-gris")
      ul(class="no-list mediano")
        li(class="pacifico col-md-3 inline-block")
          a(href="/" class="green") Food Facilito #[small(class="lato small")] Vive, convive y diviértete
        li(class="col-md-3 inline-block")
          a(href="/menu") Menú
        li(class="col-md-3 inline-block")
          a(href="/contacto") Contacto
        li(class="col-md-3 inline-block")
          a(href="/admin") Administración
    block contenido
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="js/main.js")
