extends ../layout.jade
block contenido
  div(class="col-md-5 center-block no-float top-space text-left")
    h1 Eliminar #[span= producto.title]
    form(method="post" action="/menu/#{producto.id}?_method=delete" style="margin-top:1.5em;")
      div(class="form-group")
        label Contraseña
        input(type="password" name="password" placeholder="Contraseña" class="form-control")
      div(class="form-group text-right")
        input(type="submit" class="btn btn-info" value="Confirmar")
